.myturn{
    background-color: rgba(76, 0, 130, 0.842);
}

.enemyturn{
    background-color: rgba(156, 19, 42, 0.89);
}

.fire{   
    min-height: 100px; 
    background-image: url('/assets/images/fire2.gif') !important;    
    background-size: cover;
    background-repeat: no-repeat;
}

.messageAction{
    text-shadow: 0px 0px 15px orangered;
}

.shadowedText{
    text-shadow: 0px 0px 8px white !important;
}


/*
*INFINITE HORIZONTAL SCROLL
*/
.wrapper {
    max-width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 3s linear infinite;
  }
  
  .marquee p {
    
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
        transform: translate3d(-50%, 0, 0);
    }
    100% {
      
      transform: translate3d(0, 0, 0);
    }
  }