.actionBoard{
    background-color: rgba(71, 49, 49, 0.863);
}

.fire{   
    min-height: 100px; 
    background-image: url('/assets/images/fire2.gif') !important;    
    background-size: cover;
    background-repeat: no-repeat;
}