.card{    
    background-color: rgb(189, 189, 189);
    cursor: pointer;
    border-radius: 10px;
    min-height: 520px;     
}

.creature{
    border: 3px solid var(--creature);
    box-shadow: 0px 0px 8px var(--creature), 0px 0px 10px black;
}

.character{
    border: 3px solid var(--character);
    box-shadow: 0px 0px 8px var(--character), 0px 0px 10px black;
}

.AttackEvent{
    border: 3px solid var(--AttackEvent);
    box-shadow: 0px 0px 8px var(--AttackEvent), 0px 0px 10px black;
}

.DefenseEvent{
    border: 3px solid var(--DefenseEvent);
    box-shadow: 0px 0px 8px var(--DefenseEvent), 0px 0px 10px black;
}

.attackText{
    color: green;
    text-shadow: 0px 0px 3px black;
}

.defenseText{
    color: red;
    text-shadow: 0px 0px 3px black;
}

.hpText{
    color: rgb(230, 150, 22);
    text-shadow: 0px 0px 4px black;
    font-weight: 800;
}

.rare{
    color: blue !important;
    font-weight: 600;
}

.legendary{
    color: rgb(200, 134, 11) !important;
}

.artifact{
    color: rgb(246, 0, 0) !important;
}

.bg-secondary{
    background-color: lightblue;
}




@media(min-width: 1980px){
    .card{ 
         min-height: 611px;     
    }    
}