<div class="container">
    <div class="row">
        <div class="col-6 border border-success ">
            <h2>REGISTER</h2>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <input type="text" class="form-control" [(ngModel)]="newUser.name" placeholder="Name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">email</span>
                <input type="text" class="form-control" [(ngModel)]="newUser.email" placeholder="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="password" class="form-control" [(ngModel)]="newUser.password" placeholder="password">
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-primary" (click)="register()">REGISTER</button>
            </div>
        </div>
        <div class="col-6 border border-success">
            <h2>LOG</h2>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">email</span>
                <input type="text" class="form-control" [(ngModel)]="loginMail" placeholder="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="password" class="form-control" [(ngModel)]="loginPass" placeholder="password">
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-primary" (click)="login()">LOGIN</button>
            </div>
        </div>
    </div>
</div>